* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(170, 168, 168) 8%, rgba(79, 74, 82, 0.907) 45%, rgb(1, 0, 0) 100%);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

header h1 {
    color: #0c0b0b;
}

section {
    padding: 90px 0;
}

#inicio {
    padding: 20px 0;

}

header,
#rodape {
    background-color: rgba(255, 255, 255, 0.585);
}

.dropdown button {
    border: 0.5px solid #0c0b0b;
    color: #0c0b0b;
    margin-left: 5px;
    background-color: transparent;
}


.dropdown a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: lighter;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 30px;
    height: 20px;
}


#carouselMovies .row .card {
    margin: auto;
}

.carousel-inner {
    position: relative;
    text-align: center;
}

.carousel-item img {
    height: 40vw;
    width: 100%;
}

#placeholder-img {
    height: 100px;
}

#filmeControls a img {
    height: 40px;
}

div.card {
    height: 350px;
    width: 220px;
    margin: 10px 0px;
}

.carousel-inner row {
    display: flex;
    justify-content: space-between;
}

.controle-filmes {
    display: none;
}

.card,
.imagem-filme {
    border-radius: 20px;
    height: 100px;
}

.card-img-overlay {
    display: none;
    color: #000;
}


.card-img-overlay:hover {
    transition-duration: 2s;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.492);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.controles {
    margin-top: 10px;
}

.play i {
    color: #fff;
    -webkit-text-stroke: .1px #000;
    display: none;
    transition-duration: .8s;
}

.play i:hover {
    transition-duration: .8s;
}


#rodape {
    display: flex;
    align-items: center;
    height: 80px;
}

img.apresentacao {
    border-radius: none;
}


/* Tela Pequena */
@media screen and (max-width: 576px) {
    .container {
        max-width: 576px;
        height: 100%;
    }

    .nav-item a,
    .nav-item button {
        font-size: 15px;
    }

    #carrosel {
        display: none;
    }

    .imagem-filme {
        margin: 10px 0;
        height: 300px;
    }

    .carousel-caption p {
        font-size: 30px;
    }

    section {
        margin: 10px 10px;
        padding: 0;
    }

    #placeholder-img {
        height: 70px;
    }

    .row>* {
        margin-top: 20px;
    }

    .card img {
        height: 100%;
        margin: 0;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
        height: 40px;
    }

    .controles {
        margin-top: 7px;
    }

    .play i {
        font-size: 40px;
    }

    .play i:hover {
        font-size: 60px;
    }

    #rodape {
        height: 40px;
    }

    #rodape h3 {
        font-size: 20px;
        font-weight: lighter;
    }
}


/* Telas Medias */

@media screen and (min-width: 577px) and (max-width: 960px) {
    .col-md-6 {
        margin: 20px 0;
    }

    .container {
        max-width: 960px;
    }

    .imagem-filme {
        margin: 10px 0;
        height: 400px;
    }

    .carousel-caption p {
        font-size: 45px;
    }

    section {
        margin: 10px 10px;
        padding: 0;
    }

    #carrosel .carousel-item {
        max-height: 400px;
    }

    #carrosel img {
        height: 80vh;
    }

    #placeholder-img {
        height: 80px;
    }

    .card img {
        height: 100%;
        margin: 0;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 60px;
        height: 50px;
    }

    .controles {
        margin-top: 7px;
    }

    .play i {
        font-size: 40px;
    }

    .play i:hover {
        font-size: 40px;
    }

    #rodape {
        height: 60px;
    }

    #rodape h3 {
        font-size: 30px;
        font-weight: lighter;
    }
}

/* Telas Grandes */
@media screen and (min-width: 961px) {
    .container {
        max-width: 1024px;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        font-size: 50px;
    }

    .dropdown-toggle {
        font-size: 20px;
    }

    .imagem-filme {
        margin: 10px 0;
        height: 500px;
    }

    #carrosel .carousel-item {
        max-height: 800px;
    }

    #carrosel img {
        height: 100vh;
    }

    .carousel-caption p {
        font-size: 70px;
        text-shadow: #000;
    }

    section {
        margin: 10px 10px;
        padding: 0;
    }

    #placeholder-img {
        height: 110px;
        text-align: center;
    }

    .card img {
        height: 100%;
        margin: 0;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
        height: 40px;
    }

    .card-img-overlay {
        display: none;
        color: #fff;
    }

    .controles {
        margin-top: 7px;
    }

    .play i {
        font-size: 30px;
    }

    .play i:hover {
        font-size: 70px;
    }

    footer {
        position: static;
    }

    #rodape {
        left: 0;
        bottom: 0;
        height: 80px;
        width: 100%;
        margin-top: 100px;
    }

    #rodape h3 {
        font-size: 40px;
        font-weight: lighter;
    }
}